body{

	height: 700px;
	background-color: #070719;
	/*background-image: #0A0A2A;*/  /*linear-gradient(#000000,#050a14);*/
}


body #circle:hover{
	box-shadow: 0 5px 50px 0 #00ff00 inset, 0 5px 0 #00ff00 ;
}
#titulo h1{
	margin-top: 300px;
	position: absolute;
	right: 5%;
	font-family: ,Arial, Helvetica, sans-serif;
	width: 150;
	height: 200px;
	color: white;
	font-size: 30px;
	text-decoration: underline;
	
	
}
#naveBar{
	width: auto;
	height: 100px;
	padding: 2px;
	background-color: #000030;
	
	
}

#naveBar #menuBar{
	padding-inline-start: 0px;
}

#naveBar .lnkmn:hover{
	transition: 1.2s;
	border: 2px solid #00ccff;
	box-shadow: 0px 0px 20px lightblue;
}




#naveBar #menuBar li {

	margin:25px 17px;
	float: right;
	list-style-type: none;

}
#naveBar #menuBar .lnkmn{
	font-family: 'Roboto', sans-serif;
	color:white;
	font-size: 15px;
	padding: 15px;
	border: 2px solid red;
	border-radius: 25px;
	text-decoration: none;
}



#menu{
	
	margin:150px auto 0 auto ;
	display: flex;

	
}
#menu a {
	text-decoration: none;
}



.modal{
	width: 60%;
	height: 50%;
	background-color: #fff;
	border: 3px solid #000;
	border-radius: 5px;
	margin: 80px auto 0 300px;

}


.modal span{
	float: right;
	font-size: 50px;
	color: #000;
	margin: 8px 15px;
	transition: 350ms;
	font-weight: bold;
	cursor: pointer;

}
.modal span:hover{
	color: #990000;
	transition: 350ms;
}

/*----------------------------------------------*/

#line-1{
	
	
	display: flex;




	
}
#line-2{
	
	
	display: flex;
	
}
#line-3{
	
	
	display: flex;
	
}

.blockorange{
	margin-top: 5px;
	padding: 8px;
}




.retangulo{
	position: relative;
	border-radius: 10px;
	width: 150px;
	height: 150px;
	margin-left: 10px;
	background-color: #FF4000;
	box-shadow: 0 5px 50px 0  #ff3300 inset, 0 5px 0 #FF4000 ;
}


.canto{
	border-radius: 10px;
	width: 150px;
	height: 150px;
	margin-left: 10px;
	background-color: #070719;
	
}
#joystic{
	

}
body #circle{
	height: 400px;
	width: 400px;
	position: absolute;
	bottom: 12%;
	left: 4%;
	margin: 0 auto 0 auto;
	border:8px solid #00ff00;
	border-radius: 50%;

	transition: 1.2s;
}